/*div{	border:1px grey dotted;}*/

#table{
	text-align:center;
}
.tableRow{
	width:80%;
	display:inline-block;
	border:1px solid black;
	/*border-bottom:1px solid black;
	border-top:1px solid black;*/
}
.positionDiv{
	float:left;
	width:31%;
}
.lineNumDiv{
	float:left;
	width: 4%;
}
.moldCell{
	width:20%;
	float:left;
}
.flawCell{
	width:78%;
	float:left;
}