body{
	text-align:Center;
	font-family:Helvetica;
}
.menu{
	display:inline-block;
	text-align:left;
}
li{
	list-style-type:none;
}
a{
	color:#336699;
	text-decoration:none;
}
a:hover{
	border:1px solid grey;
}
.production_div{
	display:inline-block;
	text-align: left;
	width:90%;
}
#main_table{
	display:inline-block;
	width:90%;
	
}
.statusDiv{
	display:inline-block;
	width:90%;
	text-align: left;
	margin-bottom:0em;
	padding-top:10px;
}
#main_table {
	display:inline-block;
}
#main_table td{
	text-align:center;
}
.nd{
	color:grey;
	background-color:darkgrey;
}
.norma{
	color:white;
	background-color:green;
}
.red{
	background-color: red;
	color:white;
}
.yellow{
	background-color: yellow;
}
.orange{
	background-color: orange;
}
.grey{
	background-color: grey;
}
.light_green{
	background-color: #99cc99;
}
.brown{
	background-color: #c93;
}
.row{
	border-bottom:1px solid black;
	height:3em;
}
.row_no_border{
	border:0px;
}
.popup_menu{
	text-align:left;
	position:absolute;
	top:90px;
	left:250px;
	display:none;
	z-index:11;
	width:350px;
	padding:10px;
	background-color:white;
	border: 1px solid black;
	box-shadow:5px 5px 10px 3px #999;
}
#fade{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:10;
	width:100%;
	height:300%;
	background-color: grey;
	opacity:0.7;
}
.close_img{
	float:right;
	cursor:pointer;
}
.selector_item{
	border-radius:5px;
	border:1px solid black;
	margin-bottom:5px;
	padding:3px;
	cursor:pointer;
}
.selector_item:hover{
	border-radius:5px;
	background-color:lightblue;
}
.def_div{
	text-align:left;
	font-size:0.7em;
}
.float_div_item{
	float:left;
	font-size:1.5em;
	border:1px solid black;
	border-radius:5px;
	padding:3px;
	width:2em;
	text-align:center;
	margin:5px;
	background-color:#99cc99;
	cursor:pointer;
}
.float_div_item:hover{
	background-color:#fff;
	border-radius:0px;
}
.form_item:hover{
	background-color:#9999cc;
	cursor:pointer;
}
#main_table table{
	font-size:1em;
}
#reportByMolds{
	display:block;
	float:left;
	text-align:left;
	font-size:1em;
	margin-right:20px;
}
.reportLine{
	padding-left:20px;
}
.title{
	width:7cm;
}
.date{
	width:7cm;
}
.percent{
	width:7cm;
}
#bars{
	float:left;
	display:block;
}
#work_space{
	width:90%
}
#popupWindow{
	text-align:left;
	position:absolute;
	display:none;
	z-index:2;
	padding:10px;
	background-color:white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow:5px 5px 10px 3px #999;
}
#popupHeader{
}
.lineSelectorItem{
	border:2px dotted grey;
	border-radius:5px;
	font-size:1.5em;
	padding:5px;
	margin:5px;
	text-align:center;
	cursor:pointer;
	margin:3px;
}
.lineSelectorItem:hover{
	border:2px solid black;
	background-color: green;
	color:white;
}
.inlineDiv{
	display:inline-block;
}
.reportHeader{
	width:100%;
	text-align:left;
	font-size:1.5em;
	background-color:darkblue;
	color:white;
	padding:10px;
	cursor:pointer;
}
.reportHeader div{
	padding:5px;
}
.headerItem{
	display:inline-block;
	border:1px solid darkblue;
	border-bottom:1px dotted white;
}
.headerItem:hover{
	border:1px solid white;
	border-radius: 5px;
}
.btn {
background-color:#23ba23;
padding:3px;
margin-left:3cm;
position:absolute;
top:5px;
right:5px;
font-family: 'Open Sans', sans-serif;
font-size:12px;
text-decoration:none;
color:#fff;
border: solid 1px #831212;
background-image:
-moz-linear-gradient(bottom, rgb(27,171,27) 0%, rgb(51,212,51) 100%);
border-radius: 5px;
cursor:pointer;
}
.btn:hover {
	background-color:#55ff55;
}
.btn:active {
padding-bottom:9px;
padding-left:10px;
padding-right:10px;
padding-top:11px;
top:1px;
background-image:
-moz-linear-gradient(bottom, rgb(27,171,27) 100%, rgb(51,212,51) 0%);
}
.btn:before {
    background-color:#ccd0d5;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding:8px;
    left:-8px;
    top:-8px;
    z-index:-1;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}
hr{
	margin:0px;
}
td{
padding-bottom:0px;
padding-top:0px;
}
#waitDiv{
	text-align:left;
	position:fixed;
	top:0px;
	left:0px;
	width:2000px;
	height:1100px;
	z-index:255;
	background-color:grey;
	opacity: 0.5;
	display:none;
}
.lineSelector{
	display:inline-block;
	margin:3px;
	border:1px dashed blue;
	font-size:20px;
	border-radius: 3px;
	padding:5px;
}
.lineSelector:hover{
	display:inline-block;
	margin:3px;
	border: 1px solid blue;
	cursor:pointer;
}
.greyText{
	color:gray;
}
