.floatLeft{
	float:left;
}
.dateSelectorElem{
	padding:5px;
	border:1px dotted gray;
	margin:5px;
}
.dateSelectorElem:hover{
	padding:5px;
	border:1px solid black;
	cursor:pointer;
}
.dateSelectorElemSelected{
	border:1px solid black;
	background-color:green;
	margin:5px;
}
.dateElemDay{
	width: 20px;
}
.dateElemMonth{
	width: 30px;
}
.dateElemYear{
	width: 35px;
}
#dateToApply{
	font-size:1.5em;
	font-family:'Helvetica';
}