/* 
    Document   : css
    Created on : 12.07.2012, 17:10:52
    Author     : kudashkin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#step1
{
    background-color: #99CCFF;
}

#step2
{
    background-color: #3399FF;
}
#step3
{
	color: white;
    background-color: #006699;
}