root { 
    display: block;
}
a:hover
    {
        color: steelblue;
        text-decoration: underline;
    }
a
    {
        color: lightsteelblue;
        text-decoration: underline;
    }
a:visited
        {
        color: lightsteelblue;
        text-decoration: underline;
    }
#Footer {
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;   
    font-size: 0.6em;
    margin-top: 20px;
}