@font-face {
    font-family: EuroStyle;
    src: url("/fonts/EuroStyle.woff");
   }
@font-face {
    font-family: FuturaLight; 
    src: url("/fonts/FuturaLight.woff"); 
   }
   
#site{
	text-align:left;
	width:700px;
	/*border: 1px solid black;*/
	margin:0 auto;
	padding: 5px;
	margin-top:25%;
}
#top_area{
	text-align:left;
	width:700px;
	/*border: 1px dashed blue;*/
	padding: 5px;
	margin:0 auto;
}
.first_select_link{
	font-size:1.5em;
	font-family:Helvetica;
	color:black;
	text-decoration: none;
	float: left;
	border-bottom: 1px dotted black;
	margin-left:1em;
}
.first_select_link:hover{
	border-bottom: 1px solid black;
}
.first_select_link:visited{
	font-size:1.5em;
	font-family:Helvetica;
	color:black;
	text-decoration: none;
	float: left;
	border-bottom: 1px dotted black;
	margin-left:1em;
}
#logon{
	position:absolute;
	top:0px;
	right:0px;
	padding:5px;
	font-family:Helvetica;
	font-size:0.7em;
}
.new_object_parametr_label{
	width:5cm;
	text-align:right;
	display:inline-block;
	padding-right:5px;
	vertical-align:top;
}
.new_object_parametr_input{
	text-align:left;
	display:inline-block;
}
.list_element_area{
	display:inline-block;
	width:3.5cm;
	padding-left:5px;
}
.list_element_address{
	display:inline-block;
	width:9cm;
}
.list_element_price{
	display:inline-block;
	width:3cm;
	text-align:right;
}
.list_row{
	margin-top:0.5em;
	height:1.5em;
}
.info_row{
	margin-top:0.5em;
	height:1.5em;
}
.list_row:hover{
	margin-top:0.5em;
	height:1.5em;
	color:#fff;
	background-color:#44c;
	cursor:pointer;
}
#full_obj_info{
	padding:2%;
	position:absolute;
	top:25%;
	left:25%;
	/*margin:0 auto;*/
	display:none;
	color:black;
	background-color:white;
	border:1px solid black;
}
#hideFullInfoButton{
	background-color:lightgrey;
	border:1px solid black;
	width:60px;
}
#hideFullInfoButton:hover{
	border:1px solid white;
	cursor:pointer;
}