body{
	font-family:Helvetica;
}
.floatLeft{
	float:left;
}
.padding10{
	padding:10px;
}
.green{
	color:green;
}
.brown{
	color:brown;
}
.grey{
	background-color:#006666;
}
.active:hover{
	cursor:pointer;
	background-color:#006666;
	color:#FFF;
}
.parametr{
	padding:5px;
	font-size:1.25em;
	background-color:#33cccc;
	color:white;
	text-shadow: 2px 2px 2px black;
}
.smallField{
	width:1.2cm;
	margin:3px;
}
#paramsDiv{
	padding:0.5cm;
	border:1px solid black;
	width:15cm;
}
#paramData{
	float:left;
	position:fixed;
	top:0.25cm;
	left:17cm;
	padding:0.5cm;
	border:1px solid black;
	z-index:10;
}