.label{
	width:18cm; 
	height:12cm;
	float:left;
	border: 1px solid black;
	font-family:Helvetica;
	font-size:12px;
}
.labelTopProductNum{
	display:inline-block;
	text-align:center;
	margin-right:2cm;
}
.labelTopForm{
	margin-top:-1cm;
	display:inline-block;
	text-align:center;
}
.labelBottomLeft{
	display:inline-block;
	text-align:center;
}
.labelBottomCenter{
	display:inline-block;
	text-align:center;
	margin-left:-1cm;
}
.labelBottomRight{
	display:inline-block;
	text-align:center;
}
.labelProductDetails{
	display:inline-block;
	text-align:left;
}
.labelPalletDate{
	display:inline-block;
	text-align:center;
}
.address{
	display:inline-block;
	text-align:center;
	font-size:8px;
}
.iso{
	display:inline-block;
	text-align:center;
	font-size:8px;
}