
body, html {
	margin:0px; /*Это хорошая практика обнулять поля и отсупы, т.к. различные браузеры их по разному воспринимают. */
	padding:0px;
	text-align:left; /*Выравниваем макет по центру в старых версиях браузеров */
	/*background-color:#63b9da;*/
}
h1{
	padding-left:10px;
}
#NewPage {page-break-after: always}
.header_div {
	height:70px;
	background-color:#73c9ea;
	padding:10px;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	vertical-align:middle;
	padding-top:30px;
}
.menu_div {
	font-family:arial;
	background-color:#ffc9ea;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.main_block_div {
	font-family:verdana, sans;
	font-size:14px;
	padding:10px;
}

.footer_div {
	background-color:#73c9ff;
	padding:10px;
}
#table_with_report{
	border:1px;
	border-style:solid;
	border-spacing:0px;
	margin:10px;
	border-collapse:sCollaps;
        margin-left: 1.5cm;
}
#table_with_report td{
	border:1px;
	border-style:solid;
	padding:3px;
	margin:7px;
}
#table_with_report th{
	border:1px;
	border-style:solid;
	padding:3px;
	text-align: -moz-center;
	margin:7px;
}
#table_with_form_1{
	align:center;
}
#table_with_form_1 td{
	align:center;
        text-align: center;
}
#PDF_report{
        font-size: 16px;
}
#label_div{
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    width: 18cm;
    height: 12cm;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #000000;
    border-left-color: #000000;
    border-bottom-color: #000000;
    border-top-color: #000000;
    text-align: center;
    text-indent: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    z-index: 1;
    margin-top: 0px;
    padding-top: 0px;
    
    font-size: 12px;
}
#label_div table{
    left:180px;
    position: relative;
}

#label_div_left{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    height: 100%;
    width: 15%;
    visibility: visible;
    z-index: 2;
    text-align: left;
    position: relative;
    float:left; 
}
#label_div_left img{
-webkit-transform	: rotate(-90deg);
-moz-transform		: rotate(-90deg);
-o-transform            : rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin-left             : -50px;
margin-top              : 50px;
}
#label_div_right{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    position: relative;
    height: 100%;
    width: 15%;
    visibility: visible;
    z-index: 2;
    text-align: right;  
    float:right; 
    
}
#label_div_right img{
    position: relative;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: -40px;
}
#label_div_center{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    position: relative;
    height: 100%;
    visibility: visible;
    z-index: 2;
    text-align: center;    
    top: 10px;
    margin-left:11%; 
    margin-right:11%;
}

#label_div_center img{

/*transform	: rotate(9deg);*/
}
#label_div_center table{
left:110px;
}

/*#label_div_center input{
    width: 30px;
}*/
#line_input{
    width: 30px;
}
#parametres_of_unit{
    font-size: 14px;
    font-weight: bold;
}
#popup_list{
    position: absolute;
    font-size: 14px;
    left: 18cm;
    top: 0px;
    z-index: 100;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    width: inherit;
    background-color: whitesmoke;
    padding: 5px;
    line-height:1.5;
    text-indent:0;
    width: 400px;
    visibility: hidden;
}
#product_ss{
    width: 150px;
}
#covers{
    width: 30px;
}
#t{
    left: -26px;
    top: -6px;
    position: relative;
   
}
#FormatDiv{
    position:relative;
    width: 17cm;
    left: -1.5cm;
    white-space:nowrap;
}
#FormatDiv font{
    text-align: center;
}
